.home{
    background-color: #fff;
 
    /* margin: 50%; */
}

.home__title{
    padding : 40px;
    margin-top: 20%;
}
.home__async{
    font-size: 30px;
    margin-bottom: 40px;
}
.home__main{
    font-size: 50px;
}
.home__title > br{
    padding: 40px;
    margin-top: 40px;
}

.home__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
}

.home__login{
    margin: 10px;
    padding: 15px;
}
.home__register{
    margin:  10px;
    padding: 15px;
}
